<div class="form-group p-0 mb-3{% if form_input_error %} is-invalid{% endif %}">
    {% if form_label is not empty %}<label for="{{ form_input_id }}">{{ form_label }} {% if required %}<span class="required-label">*</span>{% endif %}</label>{% endif %}
    <div class="input-group">
    
        <div class="input-group-prepend">
            <span class="input-group-text">
                <i class="fa fa-envelope-o"></i>
            </span>
        </div>

        <input
            type="email"
            name="{{ form_input_name }}"
            id="{{ form_input_id }}"
            class="form-control"
            placeholder="{{ form_input_placeholder|default }}"
            value="{{ form_input_value }}"
            {% if required %}
                required="required"
            {% endif %}
            {% if form_help_block is defined and form_help_block %}
                aria-describedby="{{ form_input_id }}_help"
            {% endif %}
        >
    </div>
    {% if form_help_block is defined and form_help_block %}
        <p id="{{ form_input_id }}_help" class="form-text text-muted text-small">{{ form_help_block }}</p>
    {% endif %}
    {% if form_input_error is defined and form_input_error %}
        <p class="error invalid-feedback" style="display:block">{{ form_input_error }}</p>
    {% endif %}
</div>
